*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.dmgv{
    background-color: chartreuse;
    border: 2px solid darkgreen;
    height: 80vh;
}
.dmgv2{
    background-color: chartreuse;
    border: 2px solid darkgreen;
    height: 80vh;
}
.dmgv3{
    background-color: chartreuse;
    border: 2px solid darkgreen;
    height: 80vh;
}
.dmgv4{
    background-color: chartreuse;
    border: 2px solid darkgreen;
    height: 80vh;
}
.dmgv5{
    background-color: chartreuse;
    border: 2px solid darkgreen;
    height: 80vh;
}
.dmgv6{
    background-color: chartreuse;
    border: 2px solid darkgreen;
    height: 80vh;
}
.dmgv7{
    background-color: chartreuse;
    border: 2px solid darkgreen;
    height: 80vh;
}
.dmgv8{
    background-color: chartreuse;
    border: 2px solid darkgreen;
    height: 80vh;
}
.dmgv9{
    background-color: rosybrown;
    border: 2px solid fuchsia;
    height: 80vh;
}
.dmgv10{
    background-color: chartreuse;
    border: 2px solid darkgreen;
    height: 80vh;
}
.dmgv11{
    background-color: chartreuse;
    border: 2px solid darkgreen;
    height: 80vh;
}
.dmgv12{
    background-color: chartreuse;
    border: 2px solid darkgreen;
    height: 80vh;
}
.dmgv13{
    background-color: chartreuse;
    border: 2px solid darkgreen;
    height: 80vh;
}
.dmgv14{
    background-color: chartreuse;
    border: 2px solid darkgreen;
    height: 80vh;
}
.dmgv15{
    background-color: rgba(17, 0, 255, 0.712);
    border: 2px solid darkgreen;
    height: 80vh;
}

